SECRET_KEY="super_secret_nirvan_key_replace_later"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# TODO: Add your SMS and Email provider keys here
# TWILIO_ACCOUNT_SID=your_sid
# TWILIO_AUTH_TOKEN=your_token
# TWILIO_PHONE_NUMBER=your_number
# SENDGRID_API_KEY=your_key
